reddit_communities.db
csv/*
frontend/node_modules/
scripts/csv_to_sqlite.py
scripts/deduped.py
scripts/merge-csv.py
scripts/migrate_script.py
scripts/migrate_to_sqlite.py
scripts/over18.py
scripts/over18merge.py
scripts/server - backup.py
migrate_to_sqlite.py
csv-backup/1mil_over18_false_with_comments.csv
csv-backup/1mil_over18_false.csv
csv-backup/1mil_over18_true_with_comments.csv
csv-backup/1mil_over18_true.csv
csv-backup/10k-99k_over18_false_with_comments.csv
csv-backup/10k-99k_over18_false.csv
csv-backup/10k-99k_over18_true_with_comments.csv
csv-backup/10k-99k_over18_true.csv
csv-backup/100k_999k_over18_false_with_comments.csv
csv-backup/100k_999k_over18_false.csv
csv-backup/100k_999k_over18_true_with_comments.csv
csv-backup/100k_999k_over18_true.csv
csv-backup/1000-9999_over18_false_with_comments.csv
csv-backup/1000-9999_over18_false.csv
csv-backup/1000-9999_over18_true_with_comments.csv
csv-backup/1000-9999_over18_true.csv
mistral-7B-v0.1.tar
subreddits_over_1000_subscribers_2025 copy.xlsx
subreddits_over_1000_subscribers_2025.csv
.conda/
.venv/
.vscode/
data/*
rddit.html.backup
rddit.html.old